h1 {
    color: white;

}

h2{
    color: brown;
}

p{
    color: red;
}

body{
    background-image:  url("img/DfkhrO1XUAEYkdw.jpg");
    background-size: cover;
   
    
}

li{
    color: rgb(68, 0, 255);
}

a{
    color: white;
}