h1 {
    color: aliceblue;

}

h2{
    color: brown;
}

p{
    color: red;
}

body{
    background-image:  url("img/DfkhrO1XUAEYkdw.jpg");
    background-repeat:no-repeat;
    
}

li{
    color: red;
}